<p-menubar class="fixed-top">
  <ng-template pTemplate="start">
    <div>
      <img src="../../assets/public/pmtool.jpg" alt="loading" height="50vh" width="60vw">
    </div>
    </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="!userLoggedIn">
      <button (click)="onLogin()" pButton type="button" label="Login" class="p-button-help rounded">
      </button>
    </div>
    <div>
      <button *ngIf="userLoggedIn" pButton type="button" label="Logout" (click)="onLogout()" class="p-button-help rounded">
      </button>
    </div>
    </ng-template>
    
  </p-menubar>